.con-container{
    display: block;
    background-color: var(--secondary-color);
    min-height: 50vh;
    max-width: 450px;
    margin: 0 auto;

}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0;
}
h1{
    align-items: center;
    text-align: center;
}
p{
    text-align: center;
}