.con-container{
    display: block;
    background-color: var(--secondary-color);
    min-height: 50vh;
    max-width: 450px;
    margin-top: 100px;
    margin-left: 400px;
    border-radius: 10px;

}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0; 
}
h1{
    align-items: center;
    text-align: center;
}
p{
    text-align: center;
}