@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;0,900;1,400;1,700;1,800;1,900&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
:root {
    /* Variables des couleurs*/
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #FAFAFA;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

   
}
a{
  text-decoration: none;
}

@media screen and (max-width: 1499px) {
  .bloc{
    width: 90%;
  }
}
