.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 20px 10px;
  top: 0;
  left: 0;
  position:fixed;
  z-index: 100;
}
.logo{
  max-width: 80px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: 2rem;
  margin-right: 30px;
}
.navbar a{
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin: 1px;
}



.navbar button{
  color:black;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  width: 130px;
  border-radius: 5px;
  border: solid 2px;
  border-color: var(--secondary-color);
  cursor: pointer;

}
.btn-login{
  background-color: white;
  border-radius: 5px;
  height: 35px;
  width: 80px;
  cursor:pointer;

}
@media screen and (max-width: 800px) {
  .header{
    position: relative;
  }
  .navbar{
    flex-direction:column;
    justify-content: center;
    align-items: center; 
  }
  .navbar a{
    margin-right: 140px;
  }
  
  .header img{
    display: none;
  }
 
  .navbar button{
    margin-right: 200px;
  }
  
}
