.container{
  background-color: #1f2937;
  width: 100%;
  position:absolute;
}
.footer{
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: start;
  text-align: center;
  flex-direction:row;
  padding: 20px 20px;
}
.liens a{
  display: flex;
  margin-right: 100%;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 7px;
  color: black;
}
.d2{
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.f1{
  text-align: center;
  margin-bottom: 10px;
}
.reseaux a{
  display: flex;
  margin-right: 100%;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 7px;
  color: black;
}
@media screen and (max-width: 800px) { 
    .container{
        margin-left: 50px;
        width: 800px;
    }
}